* { padding:0; margin:0; outline:0; }
body {
	font-family: Verdana, Arial, sans-serif;
	font-size:12px;
	line-height:20px;
	color:#666;
	background:#eeefef;
}



a { color:#364f86; text-decoration: none; cursor:pointer; }
a:hover { color:#000; }

.orange { color:#d96a02; }
.red { color:#be4856; }

.shell { width:980px; margin:0 auto; }
.guidelineButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #7a8eb9;
	-webkit-box-shadow:inset 0px 1px 0px 0px #7a8eb9;
	box-shadow:inset 0px 1px 0px 0px #7a8eb9;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #637aad), color-stop(1, #5972a7));
	background:-moz-linear-gradient(top, #637aad 5%, #5972a7 100%);
	background:-webkit-linear-gradient(top, #637aad 5%, #5972a7 100%);
	background:-o-linear-gradient(top, #637aad 5%, #5972a7 100%);
	background:-ms-linear-gradient(top, #637aad 5%, #5972a7 100%);
	background:linear-gradient(to bottom, #637aad 5%, #5972a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#637aad', endColorstr='#5972a7',GradientType=0);
	background-color:#637aad;
	border:1px solid #314179;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
}
.guidelineButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5972a7), color-stop(1, #637aad));
	background:-moz-linear-gradient(top, #5972a7 5%, #637aad 100%);
	background:-webkit-linear-gradient(top, #5972a7 5%, #637aad 100%);
	background:-o-linear-gradient(top, #5972a7 5%, #637aad 100%);
	background:-ms-linear-gradient(top, #5972a7 5%, #637aad 100%);
	background:linear-gradient(to bottom, #5972a7 5%, #637aad 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5972a7', endColorstr='#637aad',GradientType=0);
	background-color:#5972a7;
}
.guidelineButton:active {
	position:relative;
	top:1px;
}
.grade-range {
	table-layout: fixed;
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
}
.grade-range td{
	vertical-align:middle;
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:center;
}
.highlight{
	background: yellow;
}

path.slice{
	stroke-width:2px;
}
polyline{
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
} 
svg text.percent{
	fill:white;
	text-anchor:middle;
	font-size:12px;
}

.bullet { font: 10px sans-serif; }
.bullet .marker { stroke: #000; stroke-width: 2px; }
.bullet .tick line { stroke: #666; stroke-width: .5px; }
.bullet .range.s0 { fill: #eee; }
.bullet .range.s1 { fill: #ddd; }
.bullet .range.s2 { fill: #ccc; }
.bullet .measure.s0 { fill: lightsteelblue; }
.bullet .measure.s1 { fill: steelblue; }
.bullet .title { font-size: 14px; font-weight: bold; }
.bullet .subtitle { fill: #999; }

h1, h2, h3, h4, h5 { font-family: "Trebuchet MS", Arial, sans-serif; padding-bottom:8px; }
h1 { font-size:18px; line-height:22px; }
h2 { font-size:17px; line-height:21px; }
h3 { font-size:16px; line-height:20px; }
h4 { font-size:15px; line-height:19px; }
h5 { font-size:14px; line-height:18px; }
h6 { font-size:12px; line-height:16px; padding-bottom:5px; }

#header { background:#364f86; height:82px; }
#header h1{ float:left; white-space:nowrap; padding-top:8px; padding-left:275px; font-size:25px; line-height:35px; color:#fff;}
#header a{ color:#fff }
#header a:hover{ color:#a1adc7; }

#header #head { height:43px; overflow:hidden;}
#header #button { height:43px; overflow:hidden; position: relative;  left: 40px; top: 10px}
#createGuidelinediv{height:43px; overflow:hidden; position: relative; top: 5px;bottom:5px;left:15px}
#header .right { color:#fff; white-space:nowrap; font-size:10px; }
#header .right p{ padding-top:12px;}
#header .right a strong{ text-decoration: underline; }


#navigation { height:31px; }
#navigation ul{ list-style-type: none; padding-top:8px; font-size:11px; }
#navigation ul li{ float:left; display:inline; margin-right:5px;}
#navigation ul li a,
#navigation ul li a span { float:left; display:inline; height:31px; padding:0 0 0 8px; background:url(images/nav.gif) no-repeat 0 0; }
#navigation ul li a span { padding:0 8px 0 0; background-position:right 0; }
#navigation ul li a { color:#ddadab; line-height:29px;}
#navigation ul li a.active { font-weight: bold;}

#navigation ul li a:hover,
#navigation ul li a.active { background-position:0 bottom; color:#887e42; }

#navigation ul li a:hover span,
#navigation ul li a.active span{ background-position:right bottom; }


#help-nav { font-size:10px; line-height:15px; height:15px; padding-bottom:20px;}

#content { padding:10px 0 20px 0;}
#content p{ padding-bottom:15px;}
#content ol,
#content ul{ padding: 0 0 15px 25px;}
#content li{ padding-bottom:3px; }
#content a { text-decoration: underline;}
#content a:hover { text-decoration: none;}

#footer {position:relative;text-align: center; font-size:11px; padding:10px 0 0 0; color:#666; background:url(images/footer.gif) repeat-x 0 0; height:148px; }
#footer a{ color:#333; }
.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
.message { width:630px; height:50px; background-repeat:no-repeat; background-position:0 0; text-align: center; margin:0 auto 15px auto; font-size:13px;}
.message p{ padding-top:14px;}
.error-message { background-image:url(images/error.gif); color:#973729; }
.thank-message { background-image:url(images/thank.gif); color:#3d8b26; }

label, input { display:block; }
input.text { margin-bottom:12px; width:80%; padding: .4em; }

fieldset { padding:0; border:0; margin-top:25px; }
div#guideline-table { margin: 5px 0; margin-left: 15px; margin-right:15px;}
div#guideline-table table { margin: 1em 0; border-collapse: collapse; width: 100%; }
div#guideline-table table td, div#guideline-table table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
div#body{margin: auto;width: 100%;}
div#studentGroup { margin: 10px 0; margin-left: 15px; margin-right:15px;}
div#student-table { margin: 10px 0; margin-left: 15px; margin-right:15px;float: left;}
div#student-table table{ position:relative;margin: 1em 0; border-collapse: collapse;}
div#student-table table td, div#student-table table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
div#piechart {position:fixed; padding-bottom:150px; float:left; padding-left:250px} 
div#barchart {position:fixed; padding-bottom:100px; padding-left:450px;padding-top:1px}
div#gpaGraph{position:relative;padding-top:600px}
